<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Dodavanje podataka: festival</title>
    </h:head>
    <h:body>
        <p:growl id="messages" autoUpdate="true" />   
        
        <h:form>
            <p:steps activeIndex="#{addFestivalDataBean.f.getActiveIndex()}" readonly="false">
                <p:menuitem value="Dodaj podatke"/>
                <p:menuitem value="Dodaj slike/video" action="#{addFestivalDataBean.goToStep(2)}"/>
                <p:menuitem value="Konačna provera" action="#{addFestivalDataBean.goToStep(3)}"/>
            </p:steps>
           
                        <p:panel header="Podaci o festivalu:" toggleTitle="true">

            <h:panelGrid columns="2" border="1">
                Naziv: <p:inputText value="#{addFestivalDataBean.f.festivalTitle}"/>                
                Od: <p:calendar value="#{addFestivalDataBean.festivalFrom}" 
                                mindate="#{addNewFestivalBean.now}" 
                                showOn="button" 
                                pattern="dd/MM/yyyy HH:mm"/>
                Do: <p:calendar value="#{addFestivalDataBean.festivalTo}" 
                                mindate="#{addNewFestivalBean.now}" 
                                showOn="button" 
                                pattern="dd/MM/yyyy HH:mm"/>
                Mesto: <p:inputText value="#{addFestivalDataBean.f.place}"/>
                Cena dnevne karte: <p:inputText value="#{addFestivalDataBean.f.ticketPriceDay}"/>
                Ukupan broj karata po danu: <p:inputText value="#{addFestivalDataBean.f.ticketNumberDay}"/>
                Cena paketa karata: <p:inputText value="#{addFestivalDataBean.f.ticketPricePackage}"/>                
                Ukupan broj kompleta karata: <p:inputText value="#{addFestivalDataBean.f.ticketNumberPackage}"/>
                Maksimalni broj rezervacija: <p:inputText value="#{addFestivalDataBean.f.maxReservations}"/>
                Facebook (opciono): <p:inputText value="#{addFestivalDataBean.f.facebook}"/>
                YouTube (opciono): <p:inputText value="#{addFestivalDataBean.f.youtube}"/> 
                Twitter (opciono): <p:inputText value="#{addFestivalDataBean.f.twitter}"/>
                Instagram (opciono): <p:inputText value="#{addFestivalDataBean.f.instagram}"/>
            </h:panelGrid>   
                        </p:panel>
            <p:panel header="Dodajte novi nastup" toggleTitle="true" style="margin-bottom:20px">
                <h:panelGrid columns="2" cellpadding="5">

                    <h:outputLabel value="Bend:"/>
                    <p:inputText value="#{addFestivalDataBean.performance.performer}"/>

                    <h:outputLabel value="Početak nastupa:"/>
                    <p:calendar readonlyInput="true" value="#{addFestivalDataBean.performance.from}" mindate="#{addFestivalDataBean.now}" showOn="button" pattern="dd/MM/yyyy HH:mm"/>

                    <h:outputLabel value="Kraj nastupa:"/>
                    <p:calendar readonlyInput="true" value="#{addFestivalDataBean.performance.to}" mindate="#{addFestivalDataBean.now}" showOn="button" pattern="dd/MM/yyyy HH:mm"/>                        

                    <p:commandButton value="Reset" action="#{addFestivalDataBean.clearPerformers()}"/>
                    <p:commandButton value="Add" update="perfs messages @parent" action="#{addFestivalDataBean.addPerformer()}"/>                                                    
                </h:panelGrid>
            </p:panel>                
            
            <p:outputPanel  id="perfs">
                <p:dataTable value="#{addFestivalDataBean.performances}" var="perf">

                    <p:column headerText="Izvođač:">
                        <h:outputText value="#{perf.performer}" />
                    </p:column>

                    <p:column headerText="Početak:">
                        <f:facet name="header">
                            <h:outputText value="Početak" />
                        </f:facet>
                        #{perf.from}
                    </p:column>

                    <p:column headerText="Kraj">
                        <f:facet name="header">
                            <h:outputText value="Kraj" />
                        </f:facet>
                        #{perf.to}
                    </p:column>

                    <p:column headerText="Action">
                        <p:commandLink value="Remove" update="@form" action="#{addFestivalDataBean.removePerformer(perf.ID)}"/>                                                            
                    </p:column>            
                </p:dataTable>
            </p:outputPanel>  

            <p:commandButton value="Sledeći korak" action="#{addFestivalDataBean.process()}"/>
        </h:form>
        <p:button value="Nazad" outcome="admin"/>

    </h:body>
</html>

