<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Provera podataka: festival</title>
    </h:head>
    <h:body>                
        <h:form>
            <p:steps activeIndex="#{addFestivalOverviewBean.festival.getActiveIndex()}" readonly="false">
                <p:menuitem value="Dodaj podatke" action="#{addFestivalOverviewBean.goToStep(1)}"/>
                <p:menuitem value="Dodaj slike/video" action="#{addFestivalOverviewBean.goToStep(2)}"/>
                <p:menuitem value="Konačna provera"/>
            </p:steps>
        </h:form>

        <p:panel header="Konačna provera festivala!" toggleTitle="true">
            <p:panel header="Podaci o festivalu" toggleTitle="true">
                <p:panelGrid columns="2">            
                    <p:outputLabel value="Festival:"/> 
                    <p:outputLabel value="#{addFestivalOverviewBean.festival.festivalTitle} #{addFestivalOverviewBean.festival.festivalYear}"/>

                    <p:outputLabel value="Početak:"/> 
                    <p:outputLabel value="#{loginBean.processDate(addFestivalOverviewBean.festival.festivalFrom)}"/>

                    <p:outputLabel value="Kraj:"/>            
                    <p:outputLabel value="#{loginBean.processDate(addFestivalOverviewBean.festival.festivalTo)}"/>

                    <p:outputLabel value="Cena dnevne karte:"/> 
                    <p:outputLabel value="#{addFestivalOverviewBean.festival.ticketPriceDay}"/>

                    <p:outputLabel value="Broj dnevnih karata:"/> 
                    <p:outputLabel value="#{addFestivalOverviewBean.festival.ticketNumberDay}"/>

                    <p:outputLabel value="Cena festivalske karte:"/> 
                    <p:outputLabel value="#{addFestivalOverviewBean.festival.ticketPricePackage}"/>

                    <p:outputLabel value="Broj festivalskih karata:"/> 
                    <p:outputLabel value="#{addFestivalOverviewBean.festival.ticketNumberPackage}"/>

                    <p:outputLabel value="Fejsbuk:" rendered="#{addFestivalOverviewBean.festival.renderFacebook()}"/> 
                    <p:outputLabel value="#{addFestivalOverviewBean.festival.facebook}" rendered="#{addFestivalOverviewBean.festival.renderFacebook()}"/>

                    <p:outputLabel value="YouTube:" rendered="#{addFestivalOverviewBean.festival.renderYouTube()}"/> 
                    <p:outputLabel value="#{addFestivalOverviewBean.festival.youtube}" rendered="#{addFestivalOverviewBean.festival.renderYouTube()}"/>

                    <p:outputLabel value="Instagram:" rendered="#{addFestivalOverviewBean.festival.renderInstagram()}"/> 
                    <p:outputLabel value="#{addFestivalOverviewBean.festival.instagram}" rendered="#{addFestivalOverviewBean.festival.renderInstagram()}"/>

                    <p:outputLabel value="Twitter:" rendered="#{addFestivalOverviewBean.festival.renderTwitter()}"/> 
                    <p:outputLabel value="#{addFestivalOverviewBean.festival.twitter}" rendered="#{addFestivalOverviewBean.festival.renderTwitter()}"/>                        

                </p:panelGrid>
            </p:panel>

            <p:panel header="Lista koncerata:" toggleTitle="true">
                <p:dataTable value="#{addFestivalOverviewBean.performances}" var="p">
                    <p:column headerText="Bend:">
                        <p:outputLabel value="#{p.performer}" />
                    </p:column>
                    <p:column headerText="Dan:">
                        <p:outputLabel value="#{p.festivalDay}" />
                    </p:column>
                    <p:column headerText="Početak:">
                        <p:outputLabel value="#{loginBean.processDate(p.performanceStart)}" />
                    </p:column>
                    <p:column headerText="Kraj:">
                        <p:outputLabel value="#{loginBean.processDate(p.performanceEnd)}" />
                    </p:column>                                    
                </p:dataTable>
            </p:panel>
            <p:panel header="Galerija slika:" toggleTitle="true">
                <p:galleria value="#{addFestivalOverviewBean.media}" var="m">
                    <p:graphicImage value="#{m}"/>            
                </p:galleria>
            </p:panel>

            <h:form>
                <p:commandButton value="Dodaj festival!" action="#{addFestivalOverviewBean.process()}"/>
            </h:form>
        </p:panel>


    </h:body>
</html>

