<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Dodaj festival putem fajla</title>
    </h:head>
    <h:body>


        <h:form enctype="multipart/form-data">            
            <p:panel header="Dodajte novi festival putem fajla:" toggleTitle="true">
                <p:panel header="Okačite .json ili .csv fajl:" toggleTitle="true">
                    <p:fileUpload fileUploadListener="#{addFestivalFileBean.handleFileUpload}" mode="advanced" dragDropSupport="true"
                                  multiple="false" update="buttonID" sizeLimit="100000" allowTypes="/(\.|\/)(csv|json)$/"/>
                </p:panel>
            </p:panel>
            <p:commandButton value="Predaj festival" id="buttonID" action="#{addFestivalFileBean.addFiles()}"  disabled="#{!addFestivalFileBean.render}"/>                             
        </h:form>
        <p:button value="Nazad" outcome="admin"/>

    </h:body>
</html>

