<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Administrator</title>
    </h:head>
    <h:body>
        <p:growl id="messages" autoUpdate="true" />
        <p:panel header="Dobrodošli, administratore #{loginBean.loggedIn.firstName} #{loginBean.loggedIn.lastName}!" toggleTitle="true">

            <p:panel header="Najprodavanijih 5 festivala:" toggleTitle="true">
                <p:dataTable value="#{adminBean.top5TicketsSold}" var="fest">
                    <p:column headerText="Ime festivala">
                        #{fest.getFestivalLabel()}
                    </p:column>
                    <p:column headerText="Mesto">
                        #{fest.place}
                    </p:column>
                    <p:column headerText="Od">
                        #{loginBean.processDate(fest.festivalFrom)}
                    </p:column>
                    <p:column headerText="Do">
                        #{loginBean.processDate(fest.festivalTo)}
                    </p:column>    
                    <p:column headerText="Prodato karata">
                        #{fest.ticketSoldPackage}
                    </p:column>    
                </p:dataTable>        
            </p:panel>
            <p:panel header="Najposećenijih 5 festivala:" toggleTitle="true">
                <p:dataTable value="#{adminBean.top5Views}" var="fest">
                    <p:column headerText="Ime festivala">
                        #{fest.getFestivalLabel()}
                    </p:column>
                    <p:column headerText="Mesto">
                        #{fest.place}
                    </p:column>
                    <p:column headerText="Od">
                        #{loginBean.processDate(fest.festivalFrom)}
                    </p:column>
                    <p:column headerText="Do">
                        #{loginBean.processDate(fest.festivalTo)}
                    </p:column>    
                    <p:column headerText="Pregledano">
                        #{fest.viewCount}
                    </p:column>    
                </p:dataTable>        <br/><br/>
            </p:panel>

            <p:panel header="Administratorske funkcije:" toggleTitle="true">
                <p:panel header="Upravljanje festivalima:" toggleTitle="true">
                    <h:form>
                        <p:commandButton value="Unesite novi festival!" action="#{addFestivalRedirectBean.redirect(false)}"/>                                             
                    </h:form>
                    <p:button value="Unesite novi festival putem fajla!" outcome="addnewfestivalfile"/>                                              
                    <p:button value="Izmenite festival!" outcome="changefestival"/>                                                      
                    <p:button value="Obrišite festival!" outcome="cancelevent"/>                                                     
                </p:panel>
                <p:panel header="Administratorska odobrenja:" toggleTitle="true">
                    <p:button value="Odobrite naloge!" outcome="accountmanagement"/>  
                    <p:button value="Odobrite rezervacije!" outcome="approvereservations"/>   
                    <p:button value="Odobrite slike!" outcome="approvephotos"/>
                </p:panel>
                <p:panel header="Ostalo:" toggleTitle="true">
                    <p:button value="Prodajte karte!" outcome="selltickets"/>                                             
                    <p:button value="Promenite lozinku!" outcome="/start/changepassword"/>
                    <p:button value="Pregledajte poslednjih deset korisnika!" outcome="useractivity"/>  
                </p:panel>
            </p:panel>
            <h:form>
                <p:commandButton value="Logout!" action="#{loginBean.logout()}"/>
            </h:form>
        </p:panel>
    </h:body>
</html>

