<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Izmeni festival</title>
    </h:head>
    <h:body>
        <p:growl id="messages" autoUpdate="true" />        

        <h:form>
            <p:panel header="Izmenite festival:" toggleTitle="true">

                <p:panel rendered="#{changeFestivalDataBean.festivals.size() != 0}">
                    <p:selectOneMenu value="#{changeFestivalDataBean.selectedFestival}">
                        <f:selectItems value="#{changeFestivalDataBean.festivals}" var="fest" itemValue="#{fest.festivalID}" itemLabel="#{fest.festivalTitle} #{fest.festivalYear}"/>
                    </p:selectOneMenu>
                </p:panel>
                <p:outputLabel rendered="#{changeFestivalDataBean.festivals.size() == 0}" value="Nema dodatih festivala koje možete menjati!"/> <br/>
                <p:button value="Nazad" outcome="admin"/>                                             
                <p:commandButton value="Izmeni festival" action="#{changeFestivalDataBean.change()}"/>
            </p:panel>
        </h:form>
    </h:body>
</html>

