<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Prikaz festivala</title>
    </h:head>
    <h:body>
        <h:form>
            <p:panel>
                <p:panel header="Pronađeni festivali:" toggleTitle="true">
                    <p:dataTable value="#{displayFestivalsBean.festivals}" var="fest" >
                        <p:column headerText="Ime festivala">
                            #{fest.getFestivalLabel()}
                        </p:column>
                        <p:column headerText="Mesto">
                            #{fest.place}
                        </p:column>
                        <p:column headerText="Od">
                            #{loginBean.processDate(fest.festivalFrom)}
                        </p:column>
                        <p:column headerText="Do">
                            #{loginBean.processDate(fest.festivalTo)}
                        </p:column>    
                        <p:column headerText="Vidi detalje">
                            <p:commandButton value="Vidi detalje!" disabled="#{displayFestivalsBean.disableButton()}" action="#{displayFestivalsBean.showDetails(fest.festivalID)}"/>
                        </p:column>  
                        <p:column headerText="Rezerviši karte">
                            <p:commandButton value="Rezerviši karte!" disabled="#{displayFestivalsBean.disableButton()}" action="#{displayFestivalsBean.reserveTickets(fest.festivalID)}"/>
                        </p:column>  
                    </p:dataTable>   
                </p:panel>
                <p:commandButton value="Nazad!" action="#{displayFestivalsBean.returnFromFestival()}"/>
            </p:panel>
        </h:form>
    </h:body>
</html>

