<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Pregled festivala</title>
    </h:head>
    <h:body>
        <p:panel header="Pregled festivala" toggleTitle="true">
            <p:panel header="Osnovni podaci" toggleTitle="true">
                <p:panelGrid columns="2">            
                    <p:outputLabel value="Festival:"/> 
                    <p:outputLabel value="#{festivalDetailsBean.festival.festivalTitle} #{festivalDetailsBean.festival.festivalYear}"/>

                    <p:outputLabel value="Početak:"/> 
                    <p:outputLabel value="#{loginBean.processDate(festivalDetailsBean.festival.festivalFrom)}"/>

                    <p:outputLabel value="Kraj:"/>            
                    <p:outputLabel value="#{loginBean.processDate(festivalDetailsBean.festival.festivalTo)}"/>

                    <p:outputLabel value="Cena dnevne karte:"/> 
                    <p:outputLabel value="#{festivalDetailsBean.festival.ticketPriceDay}"/>

                    <p:outputLabel value="Broj dnevnih karata:"/> 
                    <p:outputLabel value="#{festivalDetailsBean.festival.ticketNumberDay}"/>

                    <p:outputLabel value="Cena festivalske karte:"/> 
                    <p:outputLabel value="#{festivalDetailsBean.festival.ticketPricePackage}"/>

                    <p:outputLabel value="Broj festivalskih karata:"/> 
                    <p:outputLabel value="#{festivalDetailsBean.festival.ticketNumberPackage}"/>

                    <p:outputLabel value="Fejsbuk:" rendered="#{festivalDetailsBean.festival.renderFacebook()}"/> 
                    <p:outputLabel value="#{festivalDetailsBean.festival.facebook}" rendered="#{festivalDetailsBean.festival.renderFacebook()}"/>

                    <p:outputLabel value="YouTube:" rendered="#{festivalDetailsBean.festival.renderYouTube()}"/> 
                    <p:outputLabel value="#{festivalDetailsBean.festival.youtube}" rendered="#{festivalDetailsBean.festival.renderYouTube()}"/>

                    <p:outputLabel value="Instagram:" rendered="#{festivalDetailsBean.festival.renderInstagram()}"/> 
                    <p:outputLabel value="#{festivalDetailsBean.festival.instagram}" rendered="#{festivalDetailsBean.festival.renderInstagram()}"/>

                    <p:outputLabel value="Twitter:" rendered="#{festivalDetailsBean.festival.renderTwitter()}"/> 
                    <p:outputLabel value="#{festivalDetailsBean.festival.twitter}" rendered="#{festivalDetailsBean.festival.renderTwitter()}"/>                        

                </p:panelGrid>
            </p:panel>
            <p:panel header="Lista izvođača" toggleTitle="true">
                <p:dataTable value="#{festivalDetailsBean.performance}" var="p">
                    <p:column headerText="Bend:">
                        <p:outputLabel value="#{p.performer}" />
                    </p:column>
                    <p:column headerText="Dan:">
                        <p:outputLabel value="#{p.festivalDay}" />
                    </p:column>
                    <p:column headerText="Početak:">
                        <p:outputLabel value="#{loginBean.processDate(p.performanceStart)}" />
                    </p:column>
                    <p:column headerText="Kraj:">
                        <p:outputLabel value="#{loginBean.processDate(p.performanceEnd)}" />
                    </p:column>                                    
                </p:dataTable>
            </p:panel>

            <p:panel header="Galerija slika" toggleTitle="true">

                <p:galleria value="#{festivalDetailsBean.media}" var="m">
                    <p:graphicImage value="#{m.mediaLocation}"/>            
                </p:galleria>
            </p:panel>
            <p:panel header="Ocene festivala" toggleTitle="true">

                <p:dataTable value="#{festivalDetailsBean.ratings}" var="r">
                    <p:column headerText="Korisničko ime">
                        #{r.username}  
                    </p:column>
                    <p:column headerText="Načinjeno">
                        #{r.madeOn}              
                    </p:column>
                    <p:column headerText="Ocena">
                        #{r.rating}  
                    </p:column>
                    <p:column headerText="Komentar">
                        #{r.comment}  
                    </p:column>

                </p:dataTable>
            </p:panel>
        </p:panel>
        <p:button value="Nazad!" outcome="user"/>   

    </h:body>
</html>

