<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Rezervacija karata</title>
    </h:head>
    <h:body>

        <p:outputLabel value="#{reserveTicketsBean.loggedIn.username}"/> <br/>
        <p:growl id="messages" autoUpdate="true" />        

        <h:form>
            <p:panel header="Rezerviši karte:" toggleTitle="true">

                <p:panelGrid columns="2">
                    Odabrani festival: <p:inputText value="#{reserveTicketsBean.f.getFestivalLabel()}" disabled="true"/>
                    Odaberi dan festivala:
                    <p:selectOneMenu value="#{reserveTicketsBean.selectedDay}" id="daylist" disabled="#{reserveTicketsBean.entireFestival}">
                        <f:selectItems value="#{reserveTicketsBean.festivalDays}" var="tckt" itemValue="#{tckt}" itemLabel="#{tckt}"/>
                    </p:selectOneMenu>                            
                    Broj rezervacija: <p:inputText value="#{reserveTicketsBean.numberOfReservations}"/>
                </p:panelGrid>
                <p:selectBooleanCheckbox itemLabel="Paket karata" value="#{reserveTicketsBean.entireFestival}">
                    <p:ajax update="daylist"/>
                </p:selectBooleanCheckbox> <br/>
                <p:commandButton value="Rezerviši karte!" action="#{reserveTicketsBean.makeReservations()}"/>
            </p:panel>
        </h:form>

        <p:button value="Nazad!" outcome="user"/>   
    </h:body>
</html>

