<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Registrovani korisnik</title>
    </h:head>
    <h:body>                
        <p:growl id="messages" autoUpdate="true" />

        <p:panel header="Dobrodošli, korisniče #{loginBean.loggedIn.firstName} #{loginBean.loggedIn.lastName}!" toggleTitle="true">         

            <p:panel header="Sledećih 5 festivala:" toggleTitle="true">
                <p:dataTable value="#{userBean.top5Recent}" var="fest">
                    <p:column headerText="Ime festivala">
                        #{fest.getFestivalLabel()}
                    </p:column>
                    <p:column headerText="Mesto">
                        #{fest.place}
                    </p:column>
                    <p:column headerText="Od">                        
                        #{loginBean.processDate(fest.festivalFrom)}
                    </p:column>
                    <p:column headerText="Do">
                        #{loginBean.processDate(fest.festivalTo)}
                    </p:column>    
                </p:dataTable>
            </p:panel>

            <p:panel header="Možete da:" toggleTitle="true">
                <p:button value="Pretražite festivale" outcome="searchfestivals"/>   
                <p:button value="Rangirajte festivale" outcome="ratefestival"/> 
                <p:button value="Otkažete rezervacije" outcome="cancelreservations"/> 
            </p:panel>
            <h:form>
                <p:commandButton value="Logout!" action="#{loginBean.logout()}"/>
            </h:form>
        </p:panel>
    </h:body>
</html>

