<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Registracija</title>
    </h:head>
    <h:body>
        <p:growl id="messages" autoUpdate="true" />
        <h:form>      
            <p:panel header="Registrujte se:" toggleTitle="true">

                <p:panelGrid columns="2">
                    Korisničko ime:     <p:inputText value="#{registerBean.username}"/>
                    Lozinka:            <p:password value="#{registerBean.password}"/>
                    Ponovljena lozinka: <p:password value="#{registerBean.passwordRepeated}"/>
                    Ime:                <p:inputText value="#{registerBean.firstName}"/>
                    Prezime:            <p:inputText value="#{registerBean.lastName}"/>                
                    Broj telefona:      <p:inputText value="#{registerBean.phone}"/>                
                    Elektronska pošta:  <p:inputText value="#{registerBean.email}"/>                                
                </p:panelGrid>                                 
                <p:commandButton value="Registruj se!" action="#{registerBean.register()}"/>
            </p:panel>
        </h:form>
        <p:button value="Nazad" outcome="/index"/>
    </h:body>
</html>

