<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Neregistrovani korisnik</title>
    </h:head>
    <h:body>
        <p:growl id="messages" autoUpdate="true" />
        <p:panel header="Neregistrovani korisnik:" toggleTitle="true">
            <p:button value="Pretraži festivale" outcome="/user/searchfestivals"/>                
            <p:button value="Najbolji festivali" outcome="bestratedfestivals"/>                
        </p:panel>
        <p:button value="Nazad" outcome="/index"/>          

    </h:body>
</html>

